<div class="d-flex align-items-center justify-content-center" >
	<h1>Create New Event</h1>
</div>
	<%= render 'form', event: @event %>

	<%= link_to 'Back to Events', events_path, class: 'btn btn-primary' %>
