!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title AdminLTE 3 | Simple Tables
    %link{:href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback", :rel => "stylesheet"}/
    %link{:href => "../../plugins/fontawesome-free/css/all.min.css", :rel => "stylesheet"}/
    %link{:href => "../../dist/css/adminlte.min.css", :rel => "stylesheet"}/
  %body.hold-transition.sidebar-mini
    .wrapper
      / Content Wrapper. Contains page content
      .content-wrapper
        / Content Header (Page header)
        %section.content-header
          .container-fluid
            .row.mb-2
              .col-sm-6
                %h1 Dashboard
          / /.container-fluid
        / Main content
        %section.content
          .container-fluid
            / /.row
            / /.row
          / /.container-fluid
        / /.content
      / /.content-wrapper
