<div class="container">
  <div class="jumbotron text-center">
    <h1>Welcome to KMBA Event Scheduling System</h1>
    <p></p>
   </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Manage Events</h2>
      <p>Edit or update your events as needed.</p>
      <a class="btn btn-primary" href="events#index" role="button">See Events</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Room Available</h2>
      <p>Edit or update Room as needed.</p>
      <a class="btn btn-primary" href="venues#index" role="button">See Rooms</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Reservation List</h2>
      <p>Edit or update Reservation as needed.</p>
      <span class=”glyphicon glyphicon-star”></span>
      <a class="btn btn-primary" href="reservations#index" role="button">See Reservation</a>
    </div>
  </div>
</div>