<div class="container-fluid">
  <br>
  <div class="card">
    <div class="card-header">
      <h1>Reservation List</h1>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <th>Event Name</th>
            <th>Event Date</th>
            <th>Time IN</th>
            <th>Time OUT</th>
            <th>Contact Person</th>
            <th>Contact number</th>
          </thead>
          
        </table>
      </div>
    </div>
  <div>
<div> 