.container-fluid
  %br/
  .card
    .card-header
      %h1 Reservation List
    .card-body
      .table-responsive
        %table.table
          %thead
            %th Event Name
            %th Event Date
            %th Time IN
            %th Time OUT
            %th Contact Person
            %th Contact number
    %div
      %div
